.file-name {
    margin-left: 1rem;
    /* or whatever margin you require */
}
<<<<<<< HEAD
=======
.image_product{
    display: flex;
    flex-direction: column;
}
>>>>>>> adcd591855b2fbfe64118ab4fefc8c0b5103789a

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
<<<<<<< HEAD
    -moz-appearance: textfield;
=======
    text-align: right;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    justify-content: space-between;
}

.form_group input {
    width: 100%;
}

#status {
    width: 100% !important;
}

mat-spinner {
    position: absolute;
    right: 5%;
    top: 5%;
}

#t {
    text-align: center;
}

.error {
    margin: 5px !important;
    font-size: 12px;
}

.error mat-error {
    margin-top: -20px !important;
}

.select_div {
    display: flex;
    flex-direction: column;
>>>>>>> adcd591855b2fbfe64118ab4fefc8c0b5103789a
}