<app-land-nav></app-land-nav>

<div class="banner">

</div>

<div id="carousel" class="carousel">
    <button class="arrow prev">⇦</button>
    <div class="gallery">
        <ul>
            <li *ngFor="let e of listEvent">
                <div class="card_event">
                    <div class="card_head">
                        <h1>{{e.name_event}}</h1>
                    </div>
                    <div class="card_body">
                        <h3>{{e.year}}</h3>
                        <h3>{{e.month}}</h3>
                        <h3>{{e.day}}</h3>
                        <h3>{{e.hour}}</h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button class="arrow next">⇨</button>
</div>

<app-footer></app-footer>