<app-land-nav></app-land-nav>

<div class="banner">

</div>





<div class="section_products">
  <div class="slider">
    <div class="product_" *ngFor="let product of listProduct">
      <div class="image_product">
        <img src="https://toppng.com/uploads/preview/coca-cola-bottle-11550195905vlqu5zl7fr.png" alt="">
      </div>
      <div class="information_product">
        <div class="title">
          {{ product.name_product }}
        </div>
        <div class="price">
          {{ product.price }}
        </div>
      </div>
    </div>
    <div class="arrows">
      <button class="left" onclick="left()">
        < </button>
          <button class="right" onclick="right()"> > </button>
    </div>
  </div>
</div>

<div class="event-container">
  <div class="calendar">
    <full-calendar [options]="calendarOptions" id="calendar-events"></full-calendar>
  </div>
</div>


<div class="about_bar">
  <div class="images content">
    <div id="first">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Takumi_in_Sailing_Bar.jpg/170px-Takumi_in_Sailing_Bar.jpg"
        alt="">
    </div>
    <div id="second">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR87fyBhllB7fXmszqCqvD_5rbbVGgjyKbhJUF6KH2URw&s"
        alt="">
    </div>
    <div id="third">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxrh1if21jtQ9viKnY3UDDYLwTwh5izG1ZmxHflufgwA&s"
        alt="">
    </div>
  </div>
  <div class="text_a content">
    <p id="life_">{{"life" | translate}}</p>
    <p id="disfrut">{{"disfrut" | translate}}</p>
    <p id="more_t">{{"moreText" | translate}}</p>
  </div>
</div>

<app-footer></app-footer>