<div class="container-tittleadduser">
    <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
    <h2 mat-dialog-title id="t">{{ operation }} {{ "user" | translate }}</h2>
</div>
<form [formGroup]="form" (ngSubmit)="addUser()">
    <mat-dialog-content class="mat-typography">
        <div class="form_group">
            <!-- Name Input -->
            <mat-form-field>
                <mat-label>{{ "name" | translate }}</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <div class="error">
                <mat-error *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">{{ "requiredNameUser" | translate }}</mat-error>
            </div>
            <!-- Email Input -->
            <mat-form-field>
                <mat-label>{{ "email" | translate }}</mat-label>
                <input formControlName="email" matInput placeholder="pat@example.com">
            </mat-form-field>
            <div class="error">
                <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">{{ "requiredEmail" | translate }}</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">{{ "invalidEmail" | translate }}</mat-error>
            </div>
        </div>
        <div class="form_group">
            <!-- Password Input -->
            <mat-form-field>
                <mat-label>{{ "password" | translate }}</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <div class="error">
                <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">{{ "requiredPassword" | translate }}</mat-error>
                <mat-error *ngIf="form.get('password')?.hasError('minlength')  && form.get('password')?.touched">{{ "minPassword" | translate }} </mat-error>
            </div>
        </div>
        <div class="formGroup" *ngIf="id !== undefined">
            <!-- Status Select -->
            <div class="select_div">
                <mat-form-field>
                    <mat-label>{{ "statusList" | translate }}</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let state of status" [value]="state.id">{{ translateStateName(state.name) }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error">
                    <mat-error *ngIf="form.get('status')?.hasError('required') && form.get('status')?.touched">{{ "requiredStatus" | translate }}</mat-error>
                </div>
            </div>
            <div class="select_div">
                <!-- Rol Select -->
                <mat-form-field>
                    <mat-label>{{ "rol" | translate }}</mat-label>
                    <mat-select formControlName="rol">
                        <mat-option *ngFor="let rols of rol" [value]="rols.id">{{ translateRolName(rols.name) }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="error">
                    <mat-error *ngIf="form.get('rol')?.hasError('required') && form.get('rol')?.touched">{{ "requiredRol" | translate }}</mat-error>
                </div>
            </div>
        </div>
        <div class="form_group" *ngIf="id === undefined">
            <!-- Rol Select -->
            <mat-form-field>
                <mat-label>{{ "rol" | translate }}</mat-label>
                <mat-select formControlName="rol">
                    <mat-option *ngFor="let rols of rol" [value]="rols.id">{{ translateRolName(rols.name) }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="error">
                <mat-error *ngIf="form.get('rol')?.hasError('required') && form.get('rol')?.touched">{{ "requiredRol" | translate }}</mat-error>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" (click)="cancel()" mat-button mat-dialog-close color="warn">{{ "cancel" | translate }}</button>
        <button type="submit" [disabled]="form.invalid" mat-button color="primary">{{ "accept" | translate }}</button>
    </mat-dialog-actions>
</form>