<nav class="navbar">
    <div class="option_container">
        <a routerLink="/chart">{{ "home" | translate }}</a>
        <a routerLink="/users">{{ "users" | translate }}</a>
        <a routerLink="/events">{{ "events" | translate }}</a>
        <a routerLink="/products">{{ "products" | translate }}</a>
        <a routerLink="/order">{{ "orders" | translate }}</a>
        <a type="button" mat-menu-item [matMenuTriggerFor]="setting">{{ "setting" | translate }}</a>
        <a (click)="logOut()">{{ "exit" | translate}}</a>
    </div>
    <div class="language-buttons">
        <button (click)="es()" class="es">ES</button>
        <button (click)="en()" class="en">EN</button>
    </div>
    <div class="menu_hamburguer">
        <fa-icon [icon]="iconMenu" id="manu_hamb"></fa-icon>
    </div>
    <div class="logo_nav">
        <a routerLink="/hollowbar-initial/client"><img src="../../../../assets/img/LOGO BAR/bran2-01.png" alt="Logo"></a>
    </div>
</nav>
<div class="option_container_menu">
    <a routerLink="/chart">{{ "home" | translate }}</a>
    <a routerLink="/users">{{ "users" | translate }}</a>
    <a routerLink="/events">{{ "events" | translate }}</a>
    <a routerLink="/products">{{ "products" | translate }}</a>
    <a routerLink="/order">{{ "orders" | translate }}</a>
    <a mat-menu-item [matMenuTriggerFor]="setting">{{ "setting" | translate }}</a>
    <a (click)="logOut()">{{ "exit" | translate}}</a>
    <div class="language-buttons_h">
        <button (click)="es()" class="es">ES</button>
        <button (click)="en()" class="en">EN</button>
    </div>
</div>

<mat-menu #setting>
    <a routerLink="/rols"><button mat-menu-item>{{ "rolNav" | translate }}</button></a>
    <a routerLink="/status"><button mat-menu-item>{{ "stateNav" | translate }}</button></a>
    <a routerLink="/table"><button mat-menu-item>{{ "tableNav" | translate }}</button></a>
</mat-menu>