<nav class="navbar">
    <div class="logo">
        <img src="../../../assets/img/LOGO BAR/bran2-01.png" alt="">
    </div>
    <div class="options">
        <a href="/event">{{ "events" | translate}}</a>
        <a href="/product">{{"products" | translate}}</a>
        <a href="/users">{{"users" | translate}}</a>
        <div class="exit">
            <a (click)="logOut()">{{"exit" | translate}}</a>
        </div>
        <div class="language-buttons">
            <button class="ESEN" (click)="es()">ES</button>|<button class="ESEN" (click)="en()">EN</button>
        </div>
    </div>
    <div class="menu_ham">
        <p id="p_h">Hamburguer</p>
    </div>
</nav>
<div class="options_dropdown">
    <div class="links">
        <a href="/event">{{ "events" | translate}}</a>   
        <a href="/product">{{"products" | translate}}</a>   
        <a href="/users">{{"users" | translate}}</a>
       
    </div>
    <div class="exit">
        <a (click)="logOut()">{{"exit" | translate}}</a>
    </div>
    <div class="language-buttons">
        <button class="ESEN" (click)="es()">ES</button>|<button class="ESEN" (click)="en()">EN</button>
    </div>
</div>