<app-navbar></app-navbar>


<div class="title">
    <h1>{{ "chart" | translate }}</h1>
</div>
<section class="charts">
    <div class="top_chart">
        <div class="bars_chart">
            <canvas id="chartBars"></canvas>
        </div>
        <div class="pie_chart">
            <canvas id="chartPie"></canvas>
        </div>
        <div class="lines_chart">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <div class="bottom_chart">
        <div class="polar_chart">
            <canvas id="chartPolar"></canvas>
        </div>
        <div class="scatter_chart">
            <canvas id="chartScatter"></canvas>
        </div>
        <div class="radar_chart">
            <canvas id="chartRadar"></canvas>
        </div>
    </div>
</section>