<div class="limiter">
  <div class="container-login100" style="background-image: url('../../../../assets/img/Back-gorunds/login-background.webp');">
    <div class="wrap-login100">
      <div class="login100-form validate-form">
        <div class="language-buttons">
          <button class="ESEN" (click)="es()">ES</button>|<button class="ESEN" (click)="en()">EN</button>
        </div>
        <span class="login100-form-logo">
          <div class="img">
            <a href="javascript:window.location.reload();">
              <img src="../../../../assets/img/LOGO BAR/bran2-01.png" alt="">
            </a>
          </div>
        </span>
        <span class="login100-form-title p-b-34 p-t-27">{{ "login" | translate }}</span>
        <form [formGroup]="form" (ngSubmit)="login()">
          <!-- Email Input -->
          <div class="wrap-input100 validate-input" data-validate="Enter username">
            <input formControlName="email" class="input100" type="email" placeholder="{{ 'email' | translate }}" autocomplete="off">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>
          <!-- Password Input -->
          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input formControlName="password" class="input100" type="password" placeholder="{{ 'password' | translate }}">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
          </div>
          <div class="container-login100-form-btn">
            <button type="submit" [disabled]="form.invalid" class="login100-form-btn">{{ "login" | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
